:root {
    --primary-color: #5e5ce6;
    --primary-hover: #4b49c9;
    --accent-color: #c084fc;

    --text-white:#fff;
    --text-Black:#000;
    --text-gray: #64748b;

    --bg-body:#f8fafc;

    --danger-color: #ef4444;
    --success-color: #16a34a;
    --CTA-color:var(--primary-color);

    --shadow: 1px 4px 6px 4px rgba(0, 0, 0, 0.1);

}

body{
    height: 100vh;
    background-color: var(--bg-body);
}
.btn-CTA{
    height: 45px;
    color: var(--text-white);
    background-color: var(--CTA-color);
    padding: 10px;
    border: 1px solid var(--CTA-color);
    border-radius: 5px;
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
    
    
}

.btn-CTA:hover{
    background-color: var(--primary-hover);
}

.btn-Secondary{
    height: 45px;
    color: var(--text-gray);
    background-color: var(--text-white);
    padding: 10px;
    border: 1px solid var(--primary-color);
    border-radius: 5px; 
    font-size: 16px;  
    text-decoration: none;
}

.btn-Secondary:hover{
    color: var(--text-white);
    background-color: var(--CTA-color);
}

.text-primary{
    background: linear-gradient(90deg, var(--primary-color), var(--accent-color));
    background-clip: text;
    -webkit-text-fill-color: transparent; 
}
.text-accent{
    color: var(--accent-color);
}
.align-center{
    text-align: center;
}


/**********************|nav|**********************/
nav {
    width: 90%;
    height: 5vh;
    background-color: var(--text-white);
    padding: 20px;
    margin: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2vw;
    font-size: 20px;
    box-shadow: var(--shadow);
    position: relative;
}

nav span.text-primary {
    width: auto;
    font-size: 45px;
    font-weight: bold;
}

.nav-links {
    display: flex;
    gap: 2vw;
}

nav a {
    color: var(--text-Black);
    text-decoration: none;   
}

nav a:hover {
    color: var(--primary-color);
    text-decoration: underline;
    text-underline-offset: 30px;
}

.burger-menu {
    display: none; 
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
}

.burger-menu span {
    display: block;
    height: 4px;
    width: 100%;
    background-color: var(--text-Black);
    border-radius: 10px;
}

@media (max-width: 768px) {
    nav{
        width: 350px;
        padding: 20px;

    }
    .burger-menu {
        display: flex;
    }

    nav span.text-primary {
        font-size: 28px;
    }

    .nav-links {
        display: none; 
        flex-direction: column;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: var(--text-white);
        box-shadow: var(--shadow);
        padding: 20px;
        gap: 20px;
        box-sizing: border-box;
        z-index: 100;
    }

    .nav-links.active {
        display: flex;
    }
    
    nav a:hover {
        text-underline-offset: 10px;
    }
    
    #hero .name{
        font-size: 5px;
    }
    #education .card{
        margin: 60px;
    }
}

/**********************|hero|**********************/
#hero{
    width: 90%;
    padding-left: 5%;
    padding-right: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 100px;
}
#hero .info{
    width: 70%;
    min-width: 330px;
    display: flex;
    justify-self: start;
    align-items: start;
    flex-direction: column;
}
#hero .info div{
    margin: 10px;
}
#hero .name{
    font-size: 100px;
    
}

#hero .name span{
    font-size: 100px;
}
#hero .info .job_title{
    color: var(--text-gray);
    font-size: 45px;
}

/**********************|about|**********************/
#about{
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap-reverse;
}
#about .photo{
    width: 30%;
    min-width: 350px;
    display: flex;
    justify-content: end;
    margin: 20px;
}
#about img{
    width:350px;
}
#about .body{
    width: 50%;
    min-width: 350px;
    display: flex;
    justify-content: start;
    flex-direction: column;
    font-size: 1.2rem;
    line-height: 1.5;

}
/**********************|Skills|**********************/
#skills{
    margin: 50px;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-wrap: wrap;
    gap: 15px;
    text-align: center;
}
#skills .col{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}
#skills .card{
    width: 160px;
    height: 50px;
    background-color: none;
    box-shadow: var(--shadow);
    padding: 5px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 1.2rem;
    font-weight: bold;
    
}
#skills .card:hover{
    border: 1px solid var(--accent-color);
}
#skills .card img{
 width: 40px;
}
/**********************|Education|**********************/
#education{
    
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 50px;

}
#education .card{
    width: 80%;
    min-width: 300px;
    background-color: var(--text-white);
    border: 2px solid var(--primary-color);
    border-radius: 5px;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    margin: 20px;

}
#education .card .majer{
    
    font-size: 32px;
    font-weight: bold;
    padding: 8px;
    margin: 5px;
    border-radius: 5px;
}
#education .card .title{
    font-size: 20px;
    font-weight: bold;
    padding: 8px;
    margin: 5px;
    border-radius: 5px;
}
#education .card .graduation-date{
    font-size: 18px;
    padding: 8px;
    margin: 5px;
    border-radius: 5px;
    color: var(--text-white);
    background-color: var(--accent-color);
    border: 1px solid var(--primary-color);

}

/**********************|Projects|**********************/
#projects {
    margin: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;
}

#projects .card{
    width: 380px;


    border: 1px solid var(--primary-color);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: var(--shadow);
}
#projects .card img{
    width: 100%;
    height: 200px;
    border-bottom: 1px solid #dbe9fc;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
#projects .card .text{
    padding: 20px;
}
#projects .card .text .title{
    font-size: 24px;
    font-weight: bold;
}
#projects .card .text .details{
    font-size: 18px;
}
#projects .card .text a{
    color: var(--text-Black);
    text-decoration: none;
    font-size: 16px;

    display: flex;
    align-items: center;
    gap: 5px;

}
#projects .card .text img{
    width: 20px;
    height: auto;
}

/**********************|Experiences|**********************/
#experience{
    height: 930px;
    margin: 50px;
    display: flex;
    justify-content: center;
    gap: 20px;

}
#experience .line{
    width: 0px;
    height: 100%;
    border: 5px solid var(--accent-color);
    
}
#experience .cards{
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}
#experience .cards .card{
    width: 300px;
    background-color: var(--text-white);
    border: 1px solid var(--accent-color);
    border-radius: 5px;
    box-shadow: var(--shadow);

}
#experience .cards .card .job_title{
    font-size: 24px;
    font-weight: bold;
    margin: 10px;

}
#experience .cards .card .company{
    font-size: 20px;
    margin: 10px;

}
#experience .cards .card .date{
    font-size: 18px;
     font-weight: bold;
    margin: 10px;

}
#experience .cards .card .details{
    color: var(--text-gray);
    font-size: 16px;
    margin: 10px;

}
#experience .cards .card:hover{
    color: var(--text-white) !important;
    background-color: var(--primary-color);
}

/**********************|Contact|**********************/
#contact{
    margin: 50px;
    display: flex;
    justify-content: center;
    align-items: center; 
}

form{
    width: 350px;
    background-color: var(--text-white);
    border: 2px solid var(--primary-color);
    border-radius: 5px;

    font-size: 18px;

    padding: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}
form div{
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
}
form div input ,select{
    width: 330px;
    height: 30px;
    background-color: #f8fafc;
    border: 0.5px solid var(--primary-color);
}
form div textarea{
    width: 330px;
    height: 100px;
    background-color: #f8fafc;
    border: 0.5px solid var(--primary-color);
}

form input[type="submit"]{
    width: 330px;
    height: 50px;
    background: linear-gradient(90deg, var(--primary-color), var(--accent-color));
    border: 0.5px solid var(--primary-color);
    border-radius: 30px;
    font-size: 24px;
    font-weight: bold;
}

/*****/
footer{
    background-color: var(--text-gray);
    padding: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}